{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-6 mt-3">
    <h2><a href="{{ path('course_index') }}" class="btn btn-outline-success">Course List</a></h2>

    <table  class="table table-striped">
        <head>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Duration</th>
                <th>Student joined</th>   
                <th>MENU</th>
            </tr>
        </head>
                <tr>
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.duration}}</td>
                    <td>
                        <a href="{{ path('course_detail', {'id' :course.id}) }}" class="btn btn-secondary">Detail</a>
                        <a href="{{ path('student_update', {'id': course.id}) }}" class="btn btn-primary">Update</a>
                        <a href="{{ path('student_delete',{'id' : course.id}) }}" 
                            class="btn btn-danger" onclick="return confirm('Delete this Student ? ')">Delete</a>
                    </td>
                </tr> 
        <body>
            
        </body>
    </table>
</div>
{% endblock %}
