{% extends 'base.html.twig' %}

{% block title %}
    COURSE DETAIL
{% endblock %}

{% block body %}
<div class="container col-6 mt-3">
    <h2><a href="{{ path('course_index') }}" class="btn btn-outline-success">Course List</a></h2>

    <table  class="table table-striped">
        <head>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Duration</th>
                <th>Student List</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>MENU</th>
                {% endif %}
            </tr>
        </head>
                <tr>
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.duration}} months</td>
                    <td>
                    {% for st in course.students %}
                        <a href="{{ path("student_detail",{'id' : st.id}) }}" class="">
                            {{ st.name }}
                            <br>
                        </a>
                    {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('course_update', {'id': course.id}) }}" class="btn btn-primary">Update</a>
                        <a href="{{ path('course_delete',{'id' : course.id}) }}" 
                            class="btn btn-danger" onclick="return confirm('Delete this Course ? ')">Delete</a>
                    </td>
                </tr> 
        <body>
            
        </body>
    </table>
</div>
{% endblock %}
