{% extends 'base.html.twig' %}

{% block title %}Account Registration{% endblock %}

{% block header %}{% endblock %}


{% block body %}
<div class="container text-center col-5 mt-3 bg-light" >
<img src="{{asset('images/greenwich.png')}}" width="550">
    <h1 class="h3 mb-3 font-weight-bolder">Account Registration</h1>

    {{ form_start(registrationForm) }}
    <div class="form-control">
        <label>Username</label>
        {{ form_widget(registrationForm.email) }}
    </div>

    <div class="form-control">
        <label>Password</label>
        {{ form_widget(registrationForm.plainPassword) }}
    </div>
        
    <div class="form-check">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>
        

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
