{% extends 'base.html.twig' %}

{% block title %}Subject Detail
{% endblock %}

{% block body %}
	<div class="container col-6 mt-3">
		<table class="table table-striped">
			<head>
				<tr>
					<th>Subject Name</th>
					<th>Subject Code</th>
                    <th>Description</th>
                    <th>Menu</th>
				</tr>
			</head>
			<tr>
                <td>{{subject.name}}</td>
                <td>{{subject.subjectCode}}</td>
                <td>{{subject.description}}</td>
				<td>
					<a href="{{path('subject_update',{'id': subject.id}) }}" class="btn btn-primary">Update</a>

					<a href="{{ path('subject_delete',{'id' : subject.id}) }}" class="btn btn-danger" onclick="return confirm('Do you want ? ')">
						Delete
					</a>
				</td>
			</tr>
			<body></body>
		</table>
	</div>
{% endblock %}
