{% extends 'base.html.twig' %}

{% block title %}Class{% endblock %}

{% block body %}
<div class="container col-md-6 mt-5">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Maximum</th>
                <th>Student</th>
                <th>Menu</th>
            </tr>
        </thead>

        <tBody>
            <tr>
                <td>{{class.id}}</td>
                <td>
                    <a href="{{ path('sclass_detail',{'id':class.id}) }}">
                        {{class.name}}
                    </a>
                </td>
                <td>{{class.maximum}}</td>
                <td>
                    {% for s in class.students %}
                        <a href="#">
                            {{ s.name }}
                        </a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('sclass_update',{'id' : class.id}) }}" class="btn btn-primary">Update</a>

                    <a href="{{ path('sclass_delete', {'id': class.id}) }}" class="btn btn-danger"
                    onclick="return confirm('Are you sure to DELETE ?')">
                         Delete
                    </a>
                </td>
            </tr>
        </tBody>
    </table>
</div>
{% endblock %}
